body {
    font-size: 18px;
    line-height: 24px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(255, 213, 0, 0.1);
    position: relative;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #005bbb;
}

h2::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105\f105";
    color: #ffd500;
    margin-right: 10px;
}

.navbar {
    background-color: #005bbb;
}

.intro-header > img {
    max-height: 500px;
    width: auto;
    max-width: 100%;
    margin: auto;
}

.intro-divider {
    width: 80%;
    margin: 10px auto;
}

.section-heading-spacer {
    width: 200px;
    padding-right: 10px;
    border-top: 3px solid #666;
}

#news > .news-post {
    padding: 10px 0;
}

#news > .news-post:nth-child(2n + 1) {
    background-color: rgba(255, 213, 0, 0.2);
    border-bottom: thin #ccc solid;
    border-top: thin #ccc solid;
}

footer {
    padding: 10px 0;
    font-size: smaller;
    background-color: #f8f8f8;
}
