<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/710b798d95.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar">

<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Association Ukraine Au Mans</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#news">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq">Foire aux questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<section id="about" class="container my-2">
    <div class="row intro-header">
        <img src="/img/intro-bg.jpg" alt="Stop Putin. Save Ukraine.">
    </div>
    <div class="row text-center">
        <hr class="intro-divider">
        <h1 class="page-title">Association Ukraine Au Mans - France</h1>
        <hr class="intro-divider">
        <p>
            <a href="https://www.facebook.com/groups/5582975508396386" class="btn btn-secondary">
                <i class="fa-brands fa-facebook"></i> Facebook
            </a>
            <a class="btn btn-secondary" data-email>
                <i class="fa-solid fa-at"></i> Email
            </a>
        </p>
    </div>
    <div class="row">
        <h2>Qui sommes-nous ?</h2>
        <hr class="section-heading-spacer">
        <p>Des Mancelles et Manceaux se sont regroupés pour organiser la collaboration humanitaire, culturelle et
            économique entre sarthois et les ukrainiens, en réponse à l’invasion qui a commencé le 24 février 2022.
            L’association a notamment pour vocation d’organiser et de soutenir des campagnes de collecte des dons. Nos
            volontaires aident dans la divulgation, le tri et le transport du matériel jusqu’au prochain entrepôt qui
            sera responsable pour l'acheminement final.</p>
        <p>
            Les volontaires sont aussi présent·e·s pour répondre aux questions du public, souvent liées à comment ils
            pourraient apporter leur soutien. N'hésitez pas à nous contacter <a data-email>par mail</a> ou par les
            réseaux sociaux ! Nous
            pouvons aussi vous aider à trouver l’association ou organisme administratif compétent pour votre demande.
            En vue des actualités, la situation évolue rapidement et une multitude de défis se présentent chaque jour.
            Notre principal moyen de communication est notre <a href="https://www.facebook.com/groups/5582975508396386">groupe
            Facebook</a>, n’hésitez pas à nous rejoindre pour suivre
            les dernières actions.</p>
        <p>
            Nous remercions l’effort de tous les volontaires et de la société civile envers le peuple ukrainien. Notre
            rôle est d’amplifier son impact et veiller à ce qu’il soit dirigé là et quand il le faut.
        </p>
    </div>
</section>

<section id="news" class="container my-2">
    <div class="row">
        <h2>Actualités</h2>
        <hr class="section-heading-spacer">
        <p>Les dernières actualités sont publiées d’abord sur notre groupe Facebook.</p>
    </div>
    <div class="row news-post">
        <div class="col-lg-3">
            <h3 class="section-heading">Collecte de dons</h3>
        </div>
        <div class="col-lg-7 offset-lg-1">
            <p>Nous acceptons de dons de produits de première nécessité pour les acheminer vers les zones accueillant
                des âmes déplacées par la guerre. En ce moment, on a notamment besoin de médicaments et de
                nourriture.</p>
            <h4>Quand</h4>
            <p>Lundi, mardi, mercredi et jeudi, de 17h à 19h</p>
            <h4>Où</h4>
            <p><a href="#" onclick="onAddressURLClick">Rue de Beaugé, 72700 Rouillon.</a> À côté du restaurant L’Instinct. Entre le restaurant et
                l’imprimerie, au fond.</p>
            <h4>On accepte</h4>
            <p>
                <span class="fw-bold">Nourriture :</span> barres énergétiques, conserves, nourriture rapide, nourriture pour les enfants
            </p>
            <p>
                <span class="fw-bold">Médicaments :</span> gants chirurgicaux stériles, peroxyde d’hydrogène, fixateurs externes orthopédiques pour membres, 
                antibiotiques (merobak), dexaméthasone, bandes élastiques, tampons, compresses stériles, garrots tourniquets, 
                antiviraux, charbon actif, solution pour perfusions sous emballage plastique, chlorure, glucose, eau stérile
            </p>
            <p>
                <span class="fw-bold">Autre :</span> produits de puériculture, produits de hygiène, powerbanks, lampes de poche, genouillères, jumelles, piles, thermos etc.
            </p>
            <h4>On n’accepte pas</h4>
            <p>Vêtements</p>
            <p class="fw-bold">
                Attention : on n’accepte que du neuf ou en bon état pour le matériel / survie, pour ne pas encombrer la
                chaîne logistique.
            </p>
        </div>
    </div>
    <div class="row news-post">
        <div class="col-lg-3">
            <h3 class="section-heading">Journée de solidarité</h3>
        </div>
        <div class="col-lg-7 offset-lg-1">
            <p>Le samedi 7 mai 2022 en centre-ville du Mans aura lieu une réunion des acteurs de solidarité dans le but d'échange avec les habitants. Parmi plus de 70 associations impliquées dans cet événement il y aura la nôtre. Venez nous voir et passer un moment agréable avec nous!
            </p>
            <img src="https://www.alentoor.fr/photos/classifieds/2a/53/2a53d8da3331c040fc159963fc8066fea803a972bddd491a85c232566ceeb6b5-large.jpg" class="card-img">
        </div>
    </div>
    <div class="row news-post">
        <div class="col-lg-3">
            <h3 class="section-heading">Collectes passées</h3>
        </div>
        <div class="col-lg-7 offset-lg-1 row row-cols-lg-2 row-cols-1 g-2 donations-card-grid">
            <div class="col">
                <div class="card h-100">
                    <img src="/img/2022-03-10-medicaments.jpg" class="card-img-top"
                         alt="Sacs et cartons avec des dons de médicaments">
                    <div class="card-body">
                        <h5 class="card-title">Médicaments</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">10 mars</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/img/2022-03-10-collecte-ecole-college-saint-louis-le-mans.jpg" class="card-img-top"
                         alt="Plusieurs cartons avec des dons de médicaments, nourriture, conserves, couches et d'autres">
                    <div class="card-body">
                        <h5 class="card-title">Matériel médical, produits d’hygiène féminin et bébé, produits de
                            premiers
                            secours, nourriture enfants</h5>
                        <p class="card-text">École et collège Saint-Louis Le Mans.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">10 mars</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/img/2022-03-10-premier-poids-lourd.jpg" class="card-img-top"
                         alt="Des volontaires chargent 24 palettes de dons dans le premier poids lourd envoyé">
                    <div class="card-body">
                        <h5 class="card-title">Premier chargement poids lourd</h5>
                        <p class="card-text">Notre premier poids lourd est prêt à partir en Pologne avec 24 palettes
                            d'aide
                            humanitaire !</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">10 mars</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/img/2022-03-09-vetements.jpg" class="card-img-top"
                         alt="Une salle remplie des cartons et sacs avec des dons en vêtements">
                    <div class="card-body">
                        <h5 class="card-title">Vêtement</h5>
                        <p class="card-text">Salle à l'université pleine de vêtements d'enfants et d'adultes pour les
                            réfugiés ukrainiens</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">9 mars</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/img/2022-03-04-premiere-camionnette.jpg" class="card-img-top"
                         alt="L'arrière d'une camionnette remplie jusqu'au bord avec des dons collectés">
                    <div class="card-body">
                        <h5 class="card-title">Premier envoie</h5>
                        <p class="card-text">Notre premier convoi est bien arrivé à Paris, tout est prêt pour partir en
                            Ukraine</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">4 mars</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="container my-2">
    <div class="row">
        <h2>Foire aux questions</h2>
        <hr class="section-heading-spacer">
        <p>(en construction)</p>
    </div>
</section>

<section id="contact" class="container my-2">
    <div class="row">
        <h2>Contact</h2>
        <hr class="section-heading-spacer">
        <p>N'hésitez pas à nous contacter si vous avez des questions ou des idées sur nos initiatives. </p>
        <p>
            <a href="https://www.facebook.com/groups/5582975508396386" class="btn btn-secondary">
                <i class="fa-brands fa-facebook"></i> Facebook
            </a>
            <a class="btn btn-secondary" data-email>
                <i class="fa-solid fa-at"></i> Email
            </a>
        </p>
    </div>
</section>

<footer class="container-fluid">
    <div class="row">
        <p class="copyright text-muted">{{ site.copyright }}</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar'
    })

    // Avoid dumb scrappers from farming our email address
    for (const element of document.querySelectorAll('a[data-email]')) {
        element.href = 'm' + 'a' + 'i' + 'l' + 't' + 'o' + ':' + 'u' + 'k' + 'r' + 'a' + 'i' + 'n' + 'e' + 'a' + 'u' + 'm' + 'a' + 'n' + 's' + '@' + 'g' + 'm' + 'a' + 'i' + 'l' + '.' + 'c' + 'o' + 'm'
    }

    const gEarthURL = "https://earth.google.com/web/search/48.0129761+0.149502"
    const gMapsURL = "https://www.google.com/maps/place/48%C2%B000'46.7%22N+0%C2%B008'58.2%22E"

    function condURL(desktopURL, mobileURL) {
        let isMobile = window.matchMedia("(any-pointer:coarse)").matches
        if (isMobile) {
            window.location.href = mobileURL
        } else {
            window.location.href = desktopURL
        }
    }

    function onAddressURLClick(e) {
        e.preventDefault()
        condURL(gEarthURL, gMapsURL)
    }
</script>

</body>
</html>
